<% content_for :top_content do %>

  <div class="jumbotron">
    <div class="container">	

		<h1>Tasks</h1>
		 <table id="tasks" class="table table-striped table-bordered table-hover table-reflow">
		  <thead class="thead-inverse">
			<tr>
			  <th>Task</th>
			  <th width="40px" >Status</th>
			  <th width="40px"></th>
			  <th width="40px" ></th>
			</tr>
		  </thead>
            <%= render @tasks %>
	</table>

    
		<h2>Add a new task:</h2>

			<%= form_for [current_user, current_user.tasks.build], remote: true, :html => {'class' => 'form-group'} do |f| %>
			  <p>
				<%= f.label :text %><br>
				<%= f.text_area :text, id: "new_task_text", :class  => 'form-control' %>
			  </p>			  
				<%= f.hidden_field :completed, :value => "FALSE" %>
			  <p>
				<%= f.submit %>
			  </p>
			<% end %>
   </div>
  </div>
<% end %>