<% content_for :top_content do %>

  <div class="jumbotron">
    <div class="container">
	 <% if user_signed_in? %>
   

         <h1><%= current_user.name %> , Welcome to ToDoList!!</h1>		 
		 <h2>Tasks sumary:</h2>
		 <p>You have <%=current_user.tasks.size %> Total tasks!</p> 
		 <%= link_to("Manage Tasks", user_tasks_path(current_user)) %>


	
  <% else %>
	
      <h1>Welcome!</h1>
      <p>Login to start using the best ToDoList app EVER!!!</p>
      <p>
	    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>     
	  <p>Still not a user? Register now and join the FUN</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>	  
      </p>
    </div>
  </div>
        <% end %>

<% end %>